<header class="site-header" role="banner">
  {{ if .IsHome }}
  <h1 class="logo-container">
  {{ else }}
  <p class="logo-container">
  {{ end }}
    {{- with resources.Get "svg/antybariera_logo.svg" }}
    <a href="/" class="logo-link">
        <img src="{{ .RelPermalink }}" alt="{{ site.Title }}" aria-hidden="true" class="logo" fetchpriority="high">
        <span class="visually-hidden">{{ site.Title }}</span>
    </a>
    {{- end }}
  {{ if .IsHome }}
  </h1>
  {{ else }}
  </p>
  {{ end }}
</header>

{{ partial "follow-head-buttons.html" . }}

{{ partial "menu.html" (dict "menuID" "main" "page" .) }}





