html
{
	box-sizing:border-box
}

*,::before,::after
{
	box-sizing:border-box
}

body
{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

p
{
	margin-bottom:0;
	margin-top:0
}

p+p
{
	margin-top:1em
}

address
{
	margin-bottom:1em;
	margin-top:1em
}

ul,ol
{
	padding-left:0
}

body,html,input
{
	margin:0;
	padding:0
}

address
{
	font-style:normal
}

img,iframe
{
	border:0
}

input
{
	font-family:inherit;
	font-size:100%;
	margin:0
}

table
{
	border-collapse:collapse
}

[type=text],[type=email],[type=submit]
{
	-webkit-appearance:none
}

::-webkit-search-decoration,::-webkit-search-cancel-button
{
	display:none
}

button
{
	background-image:none
}

textarea
{
	overflow-y:auto;
	resize:vertical
}

svg
{
	height:auto;
	max-width:100%
}

iframe
{
	max-width:100%
}

::-moz-focus-inner
{
	border:0
}

body
{
	background-color:#fff
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	body
	{
		background-color:#262626;
		color:#f2f2f2
	}
}

@media screen and (prefers-contrast: more) {
	body
	{
		background-color:#000
	}
}

.wrapper
{
	padding:env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	max-width:40em;
	margin-right:auto;
	margin-left:auto;
	padding-left:.5em;
	padding-right:.5em
}

@media(min-width: 43em) {
	.wrapper
	{
		padding-left:1em;
		padding-right:1em
	}
}

@media(min-width: 60em) {
	.wrapper
	{
		padding-left:2em;
		padding-right:2em
	}
}

@font-face
{
	font-family:"FS Me Web";
	font-size-adjust:.53;
	font-style:normal;
	font-weight:400;
	src:url(/assets/fonts/FSMeWeb-Regular.woff2) format("woff2"),url(/assets/fonts/FSMeWeb-Regular.woff) format("woff");
	font-display:swap
}

@font-face
{
	font-family:"FS Me Web";
	font-size-adjust:.53;
	font-style:normal;
	font-weight:700;
	src:url(/assets/fonts/FSMeWeb-Bold.woff2) format("woff2"),url(/assets/fonts/FSMeWeb-Bold.woff) format("woff");
	font-display:swap
}

html
{
	font-family:"FS Me Web",sans-serif;
	color:#0b0c0c;
	font-size:120%;
	font-feature-settings:liga;
	font-style:normal;
	line-height:1.5
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	html
	{
		line-height:1.7;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale
	}
}

@media(max-width: 15em) {
	html
	{
		font-size:100%;
		line-height:1.2
	}
}

@media(min-width: 31em) {
	html
	{
		font-size:130%
	}
}

@media(min-width: 43em) {
	html
	{
		font-size:150%
	}
}

@media(min-width: 85em) {
	html
	{
		font-size:180%
	}
}

p,ul,ol,blockquote
{
	max-width:30em
}

h1,h2,h3
{
	margin-top:1em;
	margin-bottom:.25em;
	letter-spacing:-.03em;
	font-weight:700;
	hyphens:none
}

h1
{
	font-size:1.953em;
	line-height:1.025;
	hyphens:manual
}

@media(max-width: 15em) {
	h1
	{
		font-size:1.563em
	}
}

@media(max-width: 25em) {
	h1
	{
		hyphens:auto
	}
}

@media(min-width: 43em) {
	h1
	{
		font-size:4.236em
	}
}

h2
{
	font-size:1.563em;
	line-height:1.025
}

@media(max-width: 15em) {
	h2
	{
		font-size:1.25em
	}
}

@media(max-width: 25em) {
	h2
	{
		hyphens:auto
	}
}

@media(min-width: 43em) {
	h2
	{
		font-size:2.618em
	}
}

h3
{
	font-size:1.25em;
	line-height:1.025
}

@media(max-width: 15em) {
	h3
	{
		font-size:1em
	}
}

@media(min-width: 43em) {
	h3
	{
		font-size:1.618em
	}
}

a
{
	border-radius:2.5px
}

a:link,a:visited
{
	color:#0077b3
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	a:link,a:visited
	{
		color:#0097db
	}
}

@media screen and (prefers-contrast: more) {
	a:link,a:visited
	{
		color:#19b3ff
	}
}

a:hover
{
	color:#0073ab
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	a:hover
	{
		color:#19b3ff
	}
}

@media screen and (prefers-contrast: more) {
	a:hover
	{
		color:#4dc4ff
	}
}

a:active
{
	color:#0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	a:active
	{
		color:#f2f2f2
	}
}

a:focus
{
	background-color:#fff;
	outline:3px solid #0b0c0c;
	outline-offset:1px;
	-webkit-box-decoration-break:clone;
	box-decoration-break:clone
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	a:focus
	{
		background-color:#262626;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

@media screen and (prefers-contrast: more) {
	a:focus
	{
		background-color:#000;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

a:focus:not(:focus-visible)
{
	background-color:#0000;
	outline:none;
	-webkit-box-decoration-break:slice;
	box-decoration-break:slice
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	a:focus:not(:focus-visible)
	{
		background-color:#0000;
		outline:none
	}
}

@media screen and (prefers-contrast: more) {
	a:focus:not(:focus-visible)
	{
		background-color:#0000;
		outline:none
	}
}

a:focus-visible
{
	background-color:#fff;
	outline:3px solid #0b0c0c;
	outline-offset:1px;
	-webkit-box-decoration-break:clone;
	box-decoration-break:clone
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	a:focus-visible
	{
		background-color:#262626;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

@media screen and (prefers-contrast: more) {
	a:focus-visible
	{
		background-color:#000;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

p a
{
	padding-top:.25em
}

a>code
{
	padding:0;
	margin-right:0
}

@media(min-width: 43em) {
	h2 a
	{
		text-decoration-thickness:.06em
	}
}

img
{
	border-radius:5px;
	background-color:#ebf8ff;
	display:block;
	box-shadow:0 0 .25em #949494;
	margin-bottom:1em;
	margin-top:1em;
	height:auto;
	width:100%
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	img
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	img
	{
		background-color:#171717
	}
}

@media(min-width: 60em) {
	img
	{
		margin-left:-1em;
		margin-right:-1em
	}
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	img
	{
		box-shadow:0 0 .25em #0b0c0c
	}
}

a img
{
	display:inline
}

p img
{
	margin-top:0;
	margin-bottom:0
}

.index-list
{
	list-style:none;
	padding-left:0
}

.index-list li::before
{
	content:"​";
	position:absolute
}

.index-list ul
{
	list-style-type:disc
}

.index-list ul ul
{
	padding-left:1.5em
}

.header
{
	padding-top:1em;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap
}

.header nav
{
	margin-top:-.2em
}

.logo
{
	display:inline-block;
	margin-right:.5em;
	margin-bottom:.5em
}

@media(min-width: 25em) {
	.logo
	{
		margin-bottom:0
	}
}

.logo svg
{
	display:block
}

.logo .mark path,.logo .trademark
{
	fill:#0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	.logo .mark path,.logo .trademark
	{
		fill:#f2f2f2
	}
}

.skip-to-content
{
	position:absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0
}

.skip-to-content:focus
{
	top:.5em;
	left:.25em;
	overflow:visible;
	clip:initial;
	height:auto;
	width:auto;
	margin:0;
	box-shadow:0 0 0 3px #0b0c0c,0 0 .4em 0 #1f1f22;
	padding:.5em
}

@media screen and (prefers-color-scheme: dark),screen and (prefers-contrast: more) {
	.skip-to-content:focus
	{
		box-shadow:0 0 0 3px #fff,.2em .2em .4em .1em #1f1f22
	}
}

main:focus
{
	outline:none
}

nav ul
{
	margin-bottom:0;
	margin-top:0;
	list-style:none;
	padding-left:0;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap
}

nav ul li::before
{
	content:"​";
	position:absolute
}

nav ul ul
{
	list-style-type:disc
}

nav ul ul ul
{
	padding-left:1.5em
}

nav ul li+li
{
	margin-left:.5em
}

nav ul a
{
	display:inline-flex;
	min-height:48px;
	align-items:center
}

.post-in-list .details
{
	margin-bottom:.5em
}

@font-face
{
	font-family:"FS Me Web";
	font-size-adjust:.53;
	font-style:italic;
	font-weight:400;
	src:url(../fonts/FSMeWeb-Italic.woff2) format("woff2"),url(../fonts/FSMeWeb-Italic.woff) format("woff");
	font-display:swap
}

::selection
{
	background:#0097db;
	color:#fff
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	::selection
	{
		color:#0b0c0c
	}
}

@media screen and (prefers-contrast: more) {
	::selection
	{
		background-color:#19b3ff
	}
}

blockquote
{
	border-left:.15em solid #0097db;
	margin-left:0;
	margin-right:0;
	padding:.25em 0 .25em .85em
}

@media (min-width: 60em) {
	blockquote
	{
		margin-left:-1em
	}

	blockquote blockquote
	{
		margin-left:0
	}
}

@media screen and (prefers-contrast: more) {
	blockquote
	{
		border-left-color:#19b3ff
	}
}

blockquote ul,blockquote ol
{
	padding-left:1em
}

blockquote * :first-child
{
	margin-top:0
}

blockquote * :last-child
{
	margin-bottom:0
}

blockquote img:last-child
{
	margin-bottom:.5em
}

@media (max-width: 60em) {
	ul,ol
	{
		padding-left:1.5em
	}
}

ul ul,ol ul
{
	padding-left:1em
}

ul ol,ol ol
{
	padding-left:1.25em
}

ul ul,ol ul
{
	list-style-type:disc
}

li::marker
{
	color:#0097db
}

@media screen and (prefers-contrast: more) {
	li::marker
	{
		color:#19b3ff
	}
}

ul li::marker
{
	font-size:1.5em;
	line-height:1
}

ul ol li::marker
{
	font-size:1em
}

dt
{
	font-weight:700
}

dt kbd
{
	font-weight:400
}

small
{
	display:block;
	font-size:100%;
	font-style:italic
}

h4,h5,h6
{
	margin-top:1em;
	margin-bottom:.25em;
	letter-spacing:-.03em;
	font-weight:700;
	hyphens:none;
	font-size:1em;
	line-height:1.4
}

@media (max-width: 15em) {
	h4,h5,h6
	{
		font-size:.8em
	}
}

@media (min-width: 43em) {
	h4,h5,h6
	{
		font-size:1em
	}
}

code,kbd
{
	border-radius:2.5px;
	padding:.1em .1em .05em
}

code
{
	font-variant-ligatures:none;
	font-feature-settings:liga 0;
	margin-right:.1em;
	background-color:#f2f2f2
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	code
	{
		background-color:#1a1a1c
	}
}

@media screen and (prefers-contrast: more) {
	code
	{
		background-color:#171717
	}
}

kbd
{
	font-family:system-ui,sans-serif;
	margin-right:.2em;
	margin-left:.2em;
	box-shadow:0 0 0 1px #949494,0 2px 0 1px #949494
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	kbd
	{
		box-shadow:0 0 0 1px #777,0 2px 0 1px #777
	}
}

code
{
	font-family:"Operator Mono",menlo,monaco,"Lucida Console",monospace;
	font-weight:inherit;
	font-size-adjust:.53
}

pre code,pre
{
	color:#0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	pre code,pre
	{
		color:#f2f2f2
	}
}

pre
{
	background-color:#f2f2f2;
	padding:1em;
	white-space:pre-wrap;
	word-spacing:normal;
	word-break:normal;
	word-wrap:normal;
	line-height:1.5;
	tab-size:4;
	hyphens:none;
	border-radius:5px;
	margin-top:1em;
	margin-bottom:1em
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	pre
	{
		background-color:#1a1a1c
	}
}

@media screen and (prefers-contrast: more) {
	pre
	{
		background-color:#171717
	}
}

@media (min-width: 60em) {
	pre
	{
		margin-left:-1em;
		margin-right:-1em
	}

	li pre
	{
		margin-left:0;
		margin-right:0
	}
}

pre code
{
	display:block;
	padding:0
}

pre
{
	overflow:auto
}

pre code
{
	width:auto;
	text-wrap:nowrap;
	margin-right:0
}

video
{
	border-radius:5px;
	background-color:#ebf8ff;
	display:block;
	box-shadow:0 0 .25em #949494;
	margin-bottom:1em;
	margin-top:1em;
	height:auto;
	width:100%
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	video
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	video
	{
		background-color:#171717
	}
}

@media (min-width: 60em) {
	video
	{
		margin-left:-1em;
		margin-right:-1em
	}
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	video
	{
		box-shadow:0 0 .25em #0b0c0c
	}
}

.youtube-video
{
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
	border-radius:5px;
	background-color:#ebf8ff;
	display:block;
	box-shadow:0 0 .25em #949494;
	margin-bottom:1em;
	margin-top:1em;
	height:auto;
	width:100%
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.youtube-video
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	.youtube-video
	{
		background-color:#171717
	}
}

@media (min-width: 60em) {
	.youtube-video
	{
		margin-left:-1em;
		margin-right:-1em
	}
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.youtube-video
	{
		box-shadow:0 0 .25em #0b0c0c
	}
}

.youtube-video iframe,.youtube-video object,.youtube-video embed
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

form
{
	margin-bottom:1em;
	margin-top:1em
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	label
	{
		color:#f2f2f2
	}
}

input
{
	background-color:#fff;
	border:3px solid #0097db;
	border-radius:5px;
	display:block;
	margin-bottom:1em;
	padding:.5em .75em;
	width:100%;
	line-height:1.2
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	input
	{
		background-color:#262626;
		color:#f2f2f2
	}
}

@media screen and (prefers-contrast: more) {
	input
	{
		background-color:#000;
		border-color:#19b3ff
	}
}

input:focus
{
	outline:solid 3px #0b0c0c;
	outline-offset:0
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	input:focus
	{
		outline:solid 3px #fff
	}
}

[type=submit]
{
	display:block;
	font-size:inherit;
	line-height:1.2;
	background-color:#0097db;
	border-radius:5px;
	border:none;
	border-bottom:solid 3px #0073ab;
	color:#fff;
	display:inline-block;
	display:inline-flex;
	align-items:center;
	font-family:inherit;
	font-weight:700;
	margin-top:1em;
	padding:.5em 1em;
	padding:calc(.5em + 3px) 1em .5em;
	width:auto
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	[type=submit]
	{
		color:#262626;
		border-bottom:solid 3px #006394
	}
}

@media screen and (prefers-contrast: more) {
	[type=submit]
	{
		background-color:#19b3ff;
		color:#000
	}
}

@media (max-width: 25em) {
	[type=submit]
	{
		padding:.25em
	}
}

[type=submit] svg
{
	margin-right:.3em;
	margin-top:-.3em
}

[type=submit]:focus
{
	outline:3px solid #0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	[type=submit]:focus
	{
		outline:3px solid #fff
	}
}

[type=submit]:focus:not(:focus-visible)
{
	outline:none
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	[type=submit]:focus:not(:focus-visible)
	{
		outline:none
	}
}

[type=submit]:focus-visible
{
	outline:3px solid #0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	[type=submit]:focus-visible
	{
		outline:3px solid #fff
	}
}

[type=submit]:hover
{
	background-color:#0073ab
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	[type=submit]:hover
	{
		background-color:#19b3ff
	}
}

@media screen and (prefers-contrast: more) {
	[type=submit]:hover
	{
		background-color:#4dc4ff
	}
}

[type=submit]:active
{
	position:relative;
	top:3px;
	border-bottom:none;
	margin-bottom:3px
}

.table-wrapper
{
	overflow:auto;
	border-radius:2.5px;
	margin-top:1em;
	margin-bottom:1em;
	margin-top:1em;
	margin-bottom:.25em;
	letter-spacing:-.03em;
	font-weight:700;
	hyphens:none
}

.table-wrapper:focus
{
	outline:3px solid #0b0c0c;
	outline-offset:1px
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.table-wrapper:focus
	{
		outline:3px solid #fff;
		outline-offset:1px
	}
}

@media screen and (prefers-contrast: more) {
	.table-wrapper:focus
	{
		outline:3px solid #fff;
		outline-offset:1px
	}
}

.table-wrapper:focus:not(:focus-visible)
{
	outline:none
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.table-wrapper:focus:not(:focus-visible)
	{
		outline:none
	}
}

@media screen and (prefers-contrast: more) {
	.table-wrapper:focus:not(:focus-visible)
	{
		outline:none
	}
}

.table-wrapper:focus-visible
{
	box-shadow:0 0 0 4px #0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.table-wrapper:focus-visible
	{
		outline:3px solid #fff;
		outline-offset:1px
	}
}

@media screen and (prefers-contrast: more) {
	.table-wrapper:focus-visible
	{
		outline:3px solid #fff;
		outline-offset:1px
	}
}

table
{
	max-width:100%
}

caption
{
	margin-top:.5em;
	font-size:1em;
	line-height:1.4
}

@media (max-width: 15em) {
	caption
	{
		font-size:.8em
	}
}

@media (min-width: 43em) {
	caption
	{
		font-size:1em
	}
}

@media (min-width: 25em) {
	caption
	{
		margin-top:.5em
	}
}

th,td
{
	padding:.25em .75em;
	vertical-align:text-top;
	border:1px solid #fff
}

th:first-of-type,td:first-of-type
{
	border-left:none
}

th:last-of-type,td:last-of-type
{
	border-right:none
}

th
{
	text-align:left;
	border-top:none;
	hyphens:none
}

td
{
	font-weight:400;
	border:1px solid #fff
}

tr:last-of-type td
{
	border-bottom:none
}

summary
{
	color:#0077b3;
	border-radius:2.5px
}

summary:link,summary:visited
{
	color:#0077b3
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	summary:link,summary:visited
	{
		color:#0097db
	}
}

@media screen and (prefers-contrast: more) {
	summary:link,summary:visited
	{
		color:#19b3ff
	}
}

summary:hover
{
	color:#0073ab
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	summary:hover
	{
		color:#19b3ff
	}
}

@media screen and (prefers-contrast: more) {
	summary:hover
	{
		color:#4dc4ff
	}
}

summary:active
{
	color:#0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	summary:active
	{
		color:#f2f2f2
	}
}

summary:focus
{
	background-color:#fff;
	outline:3px solid #0b0c0c;
	outline-offset:1px;
	-webkit-box-decoration-break:clone;
	box-decoration-break:clone
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	summary:focus
	{
		background-color:#262626;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

@media screen and (prefers-contrast: more) {
	summary:focus
	{
		background-color:#000;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

summary:focus:not(:focus-visible)
{
	background-color:#0000;
	outline:none;
	-webkit-box-decoration-break:slice;
	box-decoration-break:slice
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	summary:focus:not(:focus-visible)
	{
		background-color:#0000;
		outline:none
	}
}

@media screen and (prefers-contrast: more) {
	summary:focus:not(:focus-visible)
	{
		background-color:#0000;
		outline:none
	}
}

summary:focus-visible
{
	background-color:#fff;
	outline:3px solid #0b0c0c;
	outline-offset:1px;
	-webkit-box-decoration-break:clone;
	box-decoration-break:clone
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	summary:focus-visible
	{
		background-color:#262626;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

@media screen and (prefers-contrast: more) {
	summary:focus-visible
	{
		background-color:#000;
		outline:3px solid #fff;
		outline-offset:1px
	}
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	summary
	{
		color:#0097db
	}
}

@media screen and (prefers-contrast: more) {
	summary
	{
		color:#19b3ff
	}
}

.visually-hidden
{
	position:absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0
}

img.natural-dimensions,video.natural-dimensions
{
	margin-left:0;
	margin-right:0;
	max-width:100%;
	width:auto
}

.token.comment
{
	font-style:italic
}

.token.comment,.token.prolog,.token.doctype,.token.cdata,.token.url
{
	color:#534f54
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.token.comment,.token.prolog,.token.doctype,.token.cdata,.token.url
	{
		color:#adacaf
	}
}

.token.punctuation
{
	color:#534f54
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.token.punctuation
	{
		color:#adacaf
	}
}

.token.property,.token.tag,.token.constant,.token.symbol,.token.deleted,.token.keyword
{
	color:#d8036e
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.token.property,.token.tag,.token.constant,.token.symbol,.token.deleted,.token.keyword
	{
		color:#ff508c
	}
}

@media screen and (prefers-contrast: more) {
	.token.property,.token.tag,.token.constant,.token.symbol,.token.deleted,.token.keyword
	{
		color:#ff75a5
	}
}

.token.boolean,.token.number
{
	color:#6d5ad8
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.token.boolean,.token.number
	{
		color:#9786e9
	}
}

@media screen and (prefers-contrast: more) {
	.token.boolean,.token.number
	{
		color:#a498ec
	}
}

.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted,.token.operator,.token.entity,.token.url .url,.language-css .token.string,.style .token.string,.token.variable
{
	color:#147685
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted,.token.operator,.token.entity,.token.url .url,.language-css .token.string,.style .token.string,.token.variable
	{
		color:#00d7e9
	}
}

.token.atrule,.token.attr-value,.token.function,.token.regex,.token.important
{
	color:#7c6c04
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.token.atrule,.token.attr-value,.token.function,.token.regex,.token.important
	{
		color:#ffe648
	}
}

.token.important,.token.bold
{
	font-weight:700
}

.token.italic
{
	font-style:italic
}

.token.entity
{
	cursor:help
}

.token.url .content
{
	color:#0b0c0c
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.token.url .content
	{
		color:#f2f2f2
	}
}

.post-details
{
	margin-top:1.5em;
	margin-bottom:1.5em;
	font-style:italic
}

@media (max-width: 15em) {
	.post-details
	{
		margin-top:1em;
		margin-bottom:1em
	}
}

.call-to-action
{
	border-top:2px solid #0097db;
	margin:2em 0
}

.teaser li
{
	background-color:#ebf8ff;
	border-radius:5px;
	padding:1em
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.teaser li
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	.teaser li
	{
		background-color:#171717
	}
}

.teaser li a:focus
{
	background-color:#ebf8ff
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.teaser li a:focus
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	.teaser li a:focus
	{
		background-color:#171717
	}
}

.teaser li a:focus:not(:focus-visible)
{
	background-color:#0000
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.teaser li a:focus:not(:focus-visible)
	{
		background-color:#0000
	}
}

@media screen and (prefers-contrast: more) {
	.teaser li a:focus:not(:focus-visible)
	{
		background-color:#0000
	}
}

.teaser li a:focus-visible
{
	background-color:#ebf8ff
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.teaser li a:focus-visible
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	.teaser li a:focus-visible
	{
		background-color:#171717
	}
}

.teaser li + li
{
	margin-top:1em
}

@media (min-width: 43em) {
	.teaser li + li
	{
		margin-top:0
	}
}

.teaser h3
{
	margin-top:0
}

.teaser .index-list
{
	max-width:none
}

@media (min-width: 43em) {
	.teaser .index-list
	{
		max-width:none;
		display:grid;
		grid-template-columns:1fr 1fr;
		grid-template-rows:1fr;
		gap:0 1em;
		grid-auto-flow:row;
		grid-template-areas:". ."
	}
}

@media (min-width: 43em) and(min-width: 60em) {
	.teaser .index-list
	{
		margin-left:-1em;
		margin-right:-1em
	}
}

.subscribe
{
	background-color:#ebf8ff;
	border-radius:5px;
	padding:1em
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.subscribe
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	.subscribe
	{
		background-color:#171717
	}
}

.subscribe a:focus
{
	background-color:#ebf8ff
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.subscribe a:focus
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	.subscribe a:focus
	{
		background-color:#171717
	}
}

.subscribe a:focus:not(:focus-visible)
{
	background-color:#0000
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.subscribe a:focus:not(:focus-visible)
	{
		background-color:#0000
	}
}

@media screen and (prefers-contrast: more) {
	.subscribe a:focus:not(:focus-visible)
	{
		background-color:#0000
	}
}

.subscribe a:focus-visible
{
	background-color:#ebf8ff
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.subscribe a:focus-visible
	{
		background-color:#3d3d3d
	}
}

@media screen and (prefers-contrast: more) {
	.subscribe a:focus-visible
	{
		background-color:#171717
	}
}

@media (min-width: 60em) {
	.subscribe
	{
		margin-left:-1em;
		margin-right:-1em
	}
}

.footer
{
	clear:both;
	padding-bottom:1em;
	margin-top:3em
}

.footer nav
{
	margin-top:1em
}

.footer ul,.footer ol
{
	max-width:none
}

.footer::before
{
	background-color:#0b0c0c;
	content:"";
	display:block;
	height:3px;
	margin-bottom:3em;
	max-width:10em
}

@media screen and (prefers-color-scheme: dark),screen and(prefers-contrast: more) {
	.footer::before
	{
		background-color:#f2f2f2
	}
}

.footer address
{
	margin-bottom:0;
	margin-top:0
}

.footer .company-details
{
	margin-top:0
}

.footer .org
{
	display:block
}

.footer .copyright
{
	margin-top:3em
}

.footer .utility
{
	list-style:none;
	padding-left:0
}

.footer .utility li::before
{
	content:"​";
	position:absolute
}

.footer .utility ul
{
	list-style-type:disc
}

.footer .utility ul ul
{
	padding-left:1.5em
}

.footer .utility li
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap
}

.footer .utility li li + li
{
	margin-left:.5em
}

.footer .utility li a
{
	display:inline-flex;
	min-height:48px;
	align-items:center
}

.social a
{
	display:inline-flex;
	align-items:center;
	margin-right:.5em
}

.social svg
{
	display:inline-block;
	margin-right:.25em;
	margin-top:-.25em
}