<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Przekierowywanie…</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
  </head>
  <body>
    <noscript>
      <p>Ta strona została przeniesiona. Jeśli nie nastąpi automatyczne przekierowanie, <a href="{{ .Permalink }}">kliknij tutaj</a>.</p>
    </noscript>
    <p>Jeżeli nie nastąpi automatyczne przekierowanie, <a href="{{ .Permalink }}">kliknij tutaj</a>.</p>
  </body>
</html>