{{ define "main" }}
  <section>
    <article id="article" class="article">
      <h1 class="entry-title">{{ .LinkTitle }}</h1>
      {{- if not .Params.omitDate }}{{ partial "date.html" . }}{{ end -}}

      {{ partial "featured-image.html" . }}

      {{ .Content }}

      {{ partial "terms.html" . }}
    </article>
  </section>

  {{- if not .Params.hidden }}
    {{ partial "share-buttons.html" . }}
  {{ end -}}

  {{ partial "breadcrumbs.html" . }}

  {{ partial "navigation.html" . }}

{{ end }}
