{{- $image := "" -}}
{{- if hasPrefix .Destination "/" -}}
    {{- $image = resources.Get .Destination -}}
{{- else -}}
    {{- if .Page.BundleType -}}
        {{- $image = .Page.Resources.GetMatch .Destination -}}
    {{- else -}}
        {{- $path := path.Join .Page.File.Dir .Destination -}}
        {{- $image = resources.Get $path -}}
    {{- end -}}
{{- end -}}

{{- $random := hash.XxHash $image.RelPermalink -}}
{{- $lightboxSrc := $image.RelPermalink -}}

{{/* ID on figure to prevent page jumping when the lightbox is closed */}}
<figure id="fig-{{ $random }}">

<a href="#image-{{ $random }}" title="Naciśnij aby powiększyć obraz">
<picture{{ with .Title }} aria-labelledby="figcaption-{{ $random }}"{{ end }}>

{{- $isJPG := eq (path.Ext .Destination) ".jpg" -}}
{{- $isJPEG := eq (path.Ext .Destination) ".jpeg" -}}
{{- $isPNG := eq (path.Ext .Destination) ".png" -}}

{{- if or ($isJPG) ($isJPEG) ($isPNG) -}}

        {{- $tinyw := "428x webp" -}}
        {{- $smallw := "856x webp" -}}
        {{- $mediumw := "1440x webp" -}}
        {{- $largew := "2048x webp" -}}
        {{- $originw := (printf "%dx webp" $image.Width) -}}

        {{- $data := newScratch -}}
        {{ if ge $image.Width 428 }}{{ $data.Set "tiny" ($image.Resize $tinyw) }}{{ else }}{{ $data.Set "tiny" ($image.Resize $originw) }}{{ end }}
        {{ if ge $image.Width 856 }}{{ $data.Set "small" ($image.Resize $smallw) }}{{ else }}{{ $data.Set "small" ($image.Resize $originw) }}{{ end }}
        {{ if ge $image.Width 1440 }}{{ $data.Set "medium" ($image.Resize $mediumw) }}{{ else }}{{ $data.Set "medium" ($image.Resize $originw) }}{{ end }}
        {{ if ge $image.Width 2048 }}{{ $data.Set "large" ($image.Resize $largew) }}{{ else }}{{ $data.Set "large" ($image.Resize $originw) }}{{ end }}

        {{- $tiny := $data.Get "tiny" -}}
        {{- $small := $data.Get "small" -}}
        {{- $medium := $data.Get "medium" -}}
        {{- $large := $data.Get "large" -}}

        {{- /* Pass the high-res image to the lightbox */ -}}
        {{- $lightboxSrc = $large.RelPermalink -}}

        <source media="(max-width: 428px)" 
                srcset="{{ $small.RelPermalink }} 2x, {{ $tiny.RelPermalink }}"
                type="image/webp">

        <source media="(max-width: 834px)" 
                srcset="{{ $large.RelPermalink }} 2x, {{ $small.RelPermalink }}"
                type="image/webp">

        <source media="(max-width: 1440px)" 
                srcset="{{ $large.RelPermalink }} 2x, {{ $medium.RelPermalink }}"
                type="image/webp">

        <source media="(min-width: 1441px)" 
                srcset="{{ $large.RelPermalink }}"
                type="image/webp">
 
{{- end -}}

 <img
  src="{{ $image.RelPermalink }}"
  alt="{{ .PlainText }}" {{ with .Title }} title="{{ . }}"{{ end }}
  decoding="async"
  {{ if or ($isJPG) ($isJPEG) ($isPNG) }}width="{{ $image.Width }}" height="{{ $image.Height }}"{{ end }}
  loading="lazy">
</picture>
</a>

{{- with .PlainText }}
<figcaption id="figcaption-{{ $random }}" class="caption">{{ . }}</figcaption>
{{ end -}}

</figure>

<a href="#fig-{{ $random }}" class="lightbox" id="image-{{ $random }}" aria-label="Zamknij obraz">
    <img src="{{ $lightboxSrc }}" alt="{{ .PlainText }}" loading="lazy">
</a>