<!-- schema for posts -->
<script type="application/ld+json">
    {
        "@context":"https://schema.org",
        "@type": "BlogPosting",
      "mainEntityOfPage": { "@type": "WebPage" },
      "headline": {{ .Title | jsonify }},
        {{ if .Params.featuredImage }}

        {{- $ftimgsrc := "" -}}
        {{ if hasPrefix .Params.featuredImage "/" }}
            {{ $ftimgsrc = resources.Get .Params.featuredImage }}
        {{ else }}
            {{ if .Page.BundleType }}
                {{ $ftimgsrc = .Page.Resources.GetMatch .Params.featuredImage }}
            {{ else }}
                {{ $path := path.Join .Page.File.Dir .Params.featuredImage }}
                {{ $ftimgsrc = resources.Get $path }}
            {{ end }}
        {{ end }}
        
        "image": {{ $ftimgsrc.Permalink | jsonify }},
        {{- else -}}
        {{- $og_image := resources.Get .Site.Params.og_image -}}
      "image": {{ $og_image.Permalink }},{{ end }}
        "url": {{ .Permalink | jsonify }},
      "datePublished": {{ .PublishDate | jsonify }},
      "dateModified": {{ .Lastmod | jsonify }},
        "inLanguage": {{ site.Language.Locale | jsonify }},
        "isFamilyFriendly": "true",
        "copyrightYear": {{ now.Format "2006" | jsonify }},
        "copyrightHolder": {
            "@type": "Person",
            "name": {{ .Site.Params.Author.name | jsonify }}
        },
        "accountablePerson": {
            "@type": "Person",
            "name": {{ .Site.Params.Author.name | jsonify }},
            "url": {{ absLangURL "" | jsonify | jsonify }}
        },
        "author": {
            "@type": "Person",
            "name": {{ .Site.Params.Author.name | jsonify }},
            "url": {{ absLangURL "" | jsonify | jsonify }}
        },
        "creator": {
            "@type": "Person",
            "name": {{ .Site.Params.Author.name | jsonify }},
            "url": {{ absLangURL "" | jsonify | jsonify }}
        },
        "publisher": {
            "@type": "Organization",
            "name": {{ .Site.Params.Author.name | jsonify }},
            "url": {{ absLangURL "" | jsonify | jsonify }},
            "logo": {
                "@type": "ImageObject",
                {{- $logo := resources.Get  .Site.Params.logo -}}
                "url": {{ $logo.Permalink }}
            }
        },
        "articleBody": {{ .Content | safeJS | htmlUnescape | plainify }},
    {{- with .WordCount }}
        "wordCount": {{ . }},
    {{- end }}
    {{- with or .Description .Summary site.Params.description | plainify | htmlUnescape }}
        "description": {{ trim . "\n\r\t " }},
    {{- end }}
    
      "keywords": {{ .Params.tags | jsonify }}

    }
    </script>